.header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px 50px;
  background: #ffffff;
  height: 200px; 
  position: relative;
}

.rating-link {
  text-decoration: none;
  color: inherit; 
}

.rating-link:hover {
  text-decoration: none;
  color: inherit; 
}

.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section img {
  height: 150px;
  width: auto;
  border-radius: 50%;
  border: 2.5px solid orange;
  padding: 2.5px;
}

.info-section {
  flex: 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 30px;
}

.info-section h1 {
  margin: 0;
  font-size: 24px;
}

.info-section p {
  margin: 5px 0;
}

.info-section p a {
  font-size: 14px;
  color: orange;
  text-decoration: none;
}

.ratings span {
  color: orange;
  font-size: 16px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
}

.social-links a:hover {
  background-color: #e0e0e0;
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.phone-number svg {
  color: orange;
  margin-right: 5px;
}

.book-now {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.book-now button {
  background-color: #ffc107;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.book-now button:hover {
  background-color: #e0a800;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.book-now p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 50%; 
  width: 100px; 
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  animation: pulse 1.5s infinite;
}

.floating-button:hover {
  background-color: #e0a800;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.floating-button-icon {
  font-size:30px; 
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }


  
}