.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s;
  background-color: transparent; /* Initial transparent background */
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures navbar is on top */
}

.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Solid color on scroll */
}

.instagram-icon {
  filter: grayscale(100%) !important;
  font-size: 24px !important; 
}

.nav-link {
  color: black;
  font-size: 16px;
  padding: 10px 15px;
}

.navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 18px; /* Adjusted for mobile */
  }
}