.my-card-image {
    height: 200px; 
    object-fit: cover;
    width: 100%; 
  }
  
.image-placeholder {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
}

.image-placeholder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
